spec/fixtures/xml/schema/xsd/smil20/smil20-HostLanguage.xsd

<!--
XML Schema for the SMIL 2.0 HostLanguage module collection

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-HostLanguage.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31

Schema for the HostLanguage collection namespace.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"        
        xmlns:HostLanguage="http://www.w3.org/2001/SMIL20/HostLanguage"
        targetNamespace="http://www.w3.org/2001/SMIL20/HostLanguage"
        elementFormDefault="qualified">
    
    <!-- these URL's will have to be expanded to their full and proper locations -->

    <!-- import the definitions in the smil20 namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/" schemaLocation="smil20.xsd"/>

    <!-- import the definitions in the smil20 language namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/Language" schemaLocation="smil20-language.xsd"/>

    <!-- declare global elements in this module -->
    <element name="smil" type="smil20lang:smilType" substitutionGroup="smil20lang:smil"/>
    <element name="head" type="smil20lang:headType" substitutionGroup="smil20lang:head"/>
    <element name="body" type="smil20lang:bodyType" substitutionGroup="smil20lang:body"/>
    <element name="switch" type="smil20lang:switchType" substitutionGroup="smil20lang:switch"/>    
    <element name="layout" type="smil20lang:layoutType" substitutionGroup="smil20lang:layout"/>
    <element name="root-layout" type="smil20lang:root-layoutType" substitutionGroup="smil20lang:root-layout"/>
    <element name="region" type="smil20lang:regionType" substitutionGroup="smil20lang:region"/>
    <element name="a" type="smil20lang:aType" substitutionGroup="smil20lang:a"/>    
    <element name="area" type="smil20lang:areaType" substitutionGroup="smil20lang:area"/>    
    <element name="anchor" type="smil20lang:anchorType" substitutionGroup="smil20lang:anchor"/>    
    <element name="text" type="smil20lang:mediaType" substitutionGroup="smil20lang:text"/>
    <element name="img" type="smil20lang:mediaType" substitutionGroup="smil20lang:img"/>
    <element name="audio" type="smil20lang:mediaType" substitutionGroup="smil20lang:audio"/>
    <element name="animation" type="smil20lang:mediaType" substitutionGroup="smil20lang:animation"/>
    <element name="video" type="smil20lang:mediaType" substitutionGroup="smil20lang:video"/>
    <element name="textstream" type="smil20lang:mediaType" substitutionGroup="smil20lang:textstream"/>
    <element name="ref" type="smil20lang:mediaType" substitutionGroup="smil20lang:ref"/>
    <element name="par" type="smil20lang:parType" substitutionGroup="smil20lang:par"/>
    <element name="seq" type="smil20lang:seqType" substitutionGroup="smil20lang:seq"/>
              
    <!-- declare global attributes in this module -->
    <attribute name="systemAudioDesc" type="smil20:onOrOffType"/>
    <attribute name="systemBitrate" type="string"/>
    <attribute name="systemCaptions" type="smil20:onOrOffType"/>
    <attribute name="systemComponent" type="string"/>    
    <attribute name="systemCPU" type="NMTOKEN"/>    
    <attribute name="systemLanguage" type="string"/>          
    <attribute name="systemOperatingSystem" type="NMTOKEN"/>        
    <attribute name="systemOverdubOrSubtitle" type="smil20:overdubOrSubtitleType"/>
    <attribute name="systemRequired" type="string"/>               
    <attribute name="systemScreenDepth" type="positiveInteger"/>
    <attribute name="systemScreenSize" type="string"/>                
    <attribute name="system-bitrate" type="string"/>
    <attribute name="system-captions" type="smil20:onOrOffType"/>          
    <attribute name="system-language" type="string"/>          
    <attribute name="system-overdub-or-caption" type="smil20:overdubOrCaptionsType"/>
    <attribute name="system-required" type="string"/>
    <attribute name="system-screen-depth" type="positiveInteger"/>
    <attribute name="system-screen-size" type="string"/>
    <attribute name="begin" type="string"/>
    <attribute name="end" type="string"/>
    <attribute name="dur" type="string"/>
    <attribute name="region" type="string"/>
    <attribute name="tabindex" type="integer"/>
    <attribute name="type" type="string"/>          
    <attribute name="src" type="anyURI"/>   
    <attribute name="fill" type="smil20:fillTimingAttrsType"/>
    <attribute name="endsync" type="smil20:endsyncTimingAttrsType"/>
    <attribute name="min" type="string"/>
    <attribute name="max" type="string"/>
    <attribute name="repeatDur" type="string"/>
    <attribute name="repeatCount" type="smil20:nonNegativeDecimalType"/>
    <attribute name="repeat" type="nonNegativeInteger"/>
    <attribute name="skip-content" type="boolean"/>
    
</schema>
