spec/fixtures/xml/schema/xsd/smil20/smil20-TransitionModifiers.xsd

<!--
XML Schema for the SMIL 2.0 modules

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-TransitionModifiers.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31

Schema for the TransitionModifiers module namespace.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"        
        xmlns:TransitionModifiers="http://www.w3.org/2001/SMIL20/TransitionModifiers"
        targetNamespace="http://www.w3.org/2001/SMIL20/TransitionModifiers"
        elementFormDefault="qualified">
    
    <!-- these URL's will have to be expanded to their full and proper locations -->

    <!-- import the definitions in the smil20 namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/" schemaLocation="smil20.xsd"/>

    <!-- import the definitions in the smil20 language namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/Language" schemaLocation="smil20-language.xsd"/>

    <!-- declare global elements in this module -->
    <element name="transitionFilter" type="smil20:transitionFilterType" substitutionGroup="smil20:transitionFilter"/>
    <element name="transition" type="smil20lang:transitionType" substitutionGroup="smil20lang:transition"/>
    
    <!-- declare global attributes in this module -->
    <attribute name="transIn" type="string"/>
    <attribute name="transOut" type="string"/>

</schema>
