spec/fixtures/xml/schema/xsd/smil20/smil20-struct.xsd

<!--
XML Schema for the SMIL 2.0 Structure functionality.

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-struct.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"
        xmlns:x="http://www.w3.org/XML/1998/namespace"
        targetNamespace="http://www.w3.org/2001/SMIL20/"
        elementFormDefault="qualified">

    <!-- import xml:lang -->
    <!-- fix schemaLocation later -->
    <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml-mod.xsd"/>

    <!-- define the structure module attribute group -->
    <attributeGroup name="structureModuleAttrs">
        <attribute name="id" type="ID" use="optional"/>
        <attribute name="class" type="string" use="optional"/>
        <attribute ref="x:lang" use="optional" />   
    </attributeGroup>

    <!-- define the smil element prototype -->
    <complexType name="smilPrototype">
    </complexType>

    <!-- define the head element prototype -->
    <complexType name="headPrototype">
    </complexType>

    <!-- define the body element prototype -->
    <complexType name="bodyPrototype">
    </complexType>

    <!-- declare global elements -->
    <element name="smil" type="smil20lang:smilType" substitutionGroup="smil20lang:smil"/>
    <element name="head" type="smil20lang:headType" substitutionGroup="smil20lang:head"/>
    <element name="body" type="smil20lang:bodyType" substitutionGroup="smil20lang:body"/>

</schema>    
