spec/fixtures/xml/schema/xsd/smil20/smil20-BasicMedia.xsd

<!--
XML Schema for the SMIL 2.0 modules

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-BasicMedia.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31

Schema for the BasicMedia module namespace,
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"
        xmlns:BasicMedia="http://www.w3.org/2001/SMIL20/BasicMedia"
        targetNamespace="http://www.w3.org/2001/SMIL20/BasicMedia"
        elementFormDefault="qualified">
    
    <!-- these URL's will have to be expanded to their full and proper locations -->

    <!-- import the definitions in the smil20 namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/" schemaLocation="smil20.xsd"/>

    <!-- declare global elements in this module -->
    <element name="text" type="smil20lang:mediaType" substitutionGroup="smil20lang:text"/>
    <element name="img" type="smil20lang:mediaType" substitutionGroup="smil20lang:img"/>
    <element name="audio" type="smil20lang:mediaType" substitutionGroup="smil20lang:audio"/>
    <element name="animation" type="smil20lang:mediaType" substitutionGroup="smil20lang:animation"/>
    <element name="video" type="smil20lang:mediaType" substitutionGroup="smil20lang:video"/>
    <element name="textstream" type="smil20lang:mediaType" substitutionGroup="smil20lang:textstream"/>
    <element name="ref" type="smil20lang:mediaType" substitutionGroup="smil20lang:ref"/>

    <!-- declare global attributes in this module -->
    <attribute name="type" type="string"/>          
    <attribute name="src" type="anyURI"/>   
    
</schema>
