spec/fixtures/xml/schema/xsd/smil20/smil20-LinkingAttributes.xsd

<!--
XML Schema for the SMIL 2.0 modules

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-LinkingAttributes.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31

Schema for the LinkingAttributes module namespace,
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"
        xmlns:LinkingAttributes="http://www.w3.org/2001/SMIL20/LinkingAttributes"
        targetNamespace="http://www.w3.org/2001/SMIL20/LinkingAttributes"
        elementFormDefault="qualified">
    
    <!-- these URL's will have to be expanded to their full and proper locations -->

    <!-- import the definitions in the smil20 namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/" schemaLocation="smil20.xsd"/>

    <!-- declare global elements in this module -->
    <!-- (none) -->
    
    <!-- declare global attributes in this module -->
    <attribute name="sourceLevel" type="smil20:positivePercentageType"/>
    <attribute name="destinationLevel" type="smil20:positivePercentageType"/>
    <attribute name="sourcePlaystate" type="smil20:sourcePlaystateType"/>      
    <attribute name="destinationPlaystate" type="smil20:destinationPlaystateType"/>
    <attribute name="show" type="smil20:showType"/>
    <attribute name="external" type="boolean"/>
    <attribute name="actuate" type="smil20:actuateType"/>
    <attribute name="accesskey" type="string"/>
    <attribute name="target" type="string"/>
        
</schema>
