spec/fixtures/xml/schema/xsd/smil20/smil20-MediaParam.xsd

<!--
XML Schema for the SMIL 2.0 modules

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-MediaParam.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31

Schema for the MediaParam module namespace,
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"
        xmlns:MediaParam="http://www.w3.org/2001/SMIL20/MediaParam"
        targetNamespace="http://www.w3.org/2001/SMIL20/MediaParam"
        elementFormDefault="qualified">
    
    <!-- these URL's will have to be expanded to their full and proper locations -->

    <!-- import the definitions in the smil20 namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/" schemaLocation="smil20.xsd"/>

    <!-- declare global elements in this module -->
    <element name="param" type="smil20lang:paramType" substitutionGroup="smil20lang:param"/>    

    <!-- declare global attributes in this module -->
    <attribute name="erase" type="smil20:eraseMediaType"/>
    <attribute name="mediaRepeat" type="smil20:mediaRepeatType"/>
    <attribute name="sensitivity" type="smil20:sensitivityType"/>
    
</schema>
