spec/fixtures/xml/schema/xsd/smil20/smil20-BasicTimeContainers.xsd

<!--
XML Schema for the SMIL 2.0 modules

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-BasicTimeContainers.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31

Schema for the BasicTimeContainers module namespace,
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"        
        xmlns:BasicTimeContainers="http://www.w3.org/2001/SMIL20/BasicTimeContainers"
        targetNamespace="http://www.w3.org/2001/SMIL20/BasicTimeContainers"
        elementFormDefault="qualified">
    
    <!-- these URL's will have to be expanded to their full and proper locations -->

    <!-- import the definitions in the smil20 namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/" schemaLocation="smil20.xsd"/>

    <!-- import the definitions in the smil20 language namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/Language" schemaLocation="smil20-language.xsd"/>

    <!-- declare global elements in this module -->
    <element name="par" type="smil20lang:parType" substitutionGroup="smil20lang:par"/>
    <element name="seq" type="smil20lang:seqType" substitutionGroup="smil20lang:seq"/>
    
    <!-- declare global attributes in this module -->
    <attribute name="fill" type="smil20:fillTimingAttrsType"/>
    <attribute name="endsync" type="smil20:endsyncTimingAttrsType"/>

</schema>
