spec/fixtures/xml/schema/xsd/smil20/smil20-BasicAnimation.xsd

<!--
XML Schema for the SMIL 2.0 modules

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-BasicAnimation.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31

Schema for the BasicAnimation module namespace,
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"
        xmlns:BasicAnimation="http://www.w3.org/2001/SMIL20/BasicAnimation"
        targetNamespace="http://www.w3.org/2001/SMIL20/BasicAnimation"
        elementFormDefault="qualified">
    
    <!-- these URL's will have to be expanded to their full and proper locations -->

    <!-- import the definitions in the smil20 namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/" schemaLocation="smil20.xsd"/>

    <!-- declare global elements in this module -->
    <element name="animate" type="smil20lang:animateType" substitutionGroup="smil20lang:animate"/>    
    <element name="set" type="smil20lang:setType" substitutionGroup="smil20lang:set"/>    
    <element name="animateMotion" type="smil20lang:animateMotionType" substitutionGroup="smil20lang:animateMotion"/>    
    <element name="animateColor" type="smil20lang:animateColorType" substitutionGroup="smil20lang:animateColor"/>
    
    <!-- declare global attributes in this module -->
    <!-- (none) -->
    
</schema>
