spec/fixtures/xml/schema/xsd/smil20/smil20-BasicLinking.xsd

<!--
XML Schema for the SMIL 2.0 modules

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-BasicLinking.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31

Schema for the BasicLinking module namespace,
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"
        xmlns:BasicLinking="http://www.w3.org/2001/SMIL20/BasicLinking"
        targetNamespace="http://www.w3.org/2001/SMIL20/BasicLinking"
        elementFormDefault="qualified">
    
    <!-- these URL's will have to be expanded to their full and proper locations -->

    <!-- import the definitions in the smil20 namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/" schemaLocation="smil20.xsd"/>

    <!-- declare global elements in this module -->
    <element name="a" type="smil20lang:aType" substitutionGroup="smil20lang:a"/>    
    <element name="area" type="smil20lang:areaType" substitutionGroup="smil20lang:area"/>    
    <element name="anchor" type="smil20lang:anchorType" substitutionGroup="smil20lang:anchor"/>    
    
    <!-- declare global attributes in this module -->
    <attribute name="tabindex" type="integer"/>
        
</schema>
