spec/fixtures/xml/schema/xsd/smil20/smil20-BasicContentControl.xsd

<!--
XML Schema for the SMIL 2.0 modules

This is SMIL 2.0
Copyright: 1998-2004 W3C (MIT, ERCIM, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.

Public URI: http://www.w3.org/2001/SMIL20/smil20-BasicContentControl.xsd
Author: Aaron Michael Cohen (Intel)
Revision: 2001/07/31

Schema for the BasicContentControl module namespace,
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:smil20lang="http://www.w3.org/2001/SMIL20/Language"
        xmlns:BasicContentControl="http://www.w3.org/2001/SMIL20/BasicContentControl"
        targetNamespace="http://www.w3.org/2001/SMIL20/BasicContentControl"
        elementFormDefault="qualified">
    
    <!-- these URL's may have to be expanded to their full and proper locations -->

    <!-- import the definitions in the smil20 namespace -->
    <import namespace="http://www.w3.org/2001/SMIL20/" schemaLocation="smil20.xsd"/>

    <!-- declare global elements in this module -->
    <element name="switch" type="smil20lang:switchType" substitutionGroup="smil20lang:switch"/>    
    
    <!-- declare global attributes in this module -->
    <attribute name="systemAudioDesc" type="smil20:onOrOffType"/>
    <attribute name="systemBitrate" type="string"/>
    <attribute name="systemCaptions" type="smil20:onOrOffType"/>
    <attribute name="systemComponent" type="string"/>    
    <attribute name="systemCPU" type="NMTOKEN"/>    
    <attribute name="systemLanguage" type="string"/>          
    <attribute name="systemOperatingSystem" type="NMTOKEN"/>        
    <attribute name="systemOverdubOrSubtitle" type="smil20:overdubOrSubtitleType"/>
    <attribute name="systemRequired" type="string"/>               
    <attribute name="systemScreenDepth" type="positiveInteger"/>
    <attribute name="systemScreenSize" type="string"/>                
    <attribute name="system-bitrate" type="string"/>
    <attribute name="system-captions" type="smil20:onOrOffType"/>          
    <attribute name="system-language" type="string"/>          
    <attribute name="system-overdub-or-caption" type="smil20:overdubOrCaptionsType"/>
    <attribute name="system-required" type="string"/>
    <attribute name="system-screen-depth" type="positiveInteger"/>
    <attribute name="system-screen-size" type="string"/>
    
</schema>
