spec/fixtures/xml/schema/xsd/smil20/xml-mod.xsd

<schema targetNamespace="http://www.w3.org/XML/1998/namespace"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:x="http://www.w3.org/XML/1998/namespace">

    <attribute name="lang" type="language">
        <annotation>
            <documentation>In due course, we should install the relevant ISO 2- and 3-letter
                codes as the enumerated possible values . . .</documentation>
        </annotation>
    </attribute>

    <attribute name="space" use="optional"  default="preserve">
        <simpleType>
            <restriction base="NCName">
                <enumeration value="default"/>
                <enumeration value="preserve"/>
            </restriction>
        </simpleType>
    </attribute>

    <attributeGroup name="specialAttrs">
        <attribute ref="x:lang"/>
        <attribute ref="x:space"/>
    </attributeGroup>
</schema>
