spec/fixtures/xml/advanced_financial_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:fin="http://example.org/financial"
           targetNamespace="http://example.org/financial"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- ==================== Abstract Types ==================== -->
  
  <!-- Abstract base type for all parties -->
  <xs:complexType name="PartyType" abstract="true">
    <xs:sequence>
      <xs:element name="PartyID" type="fin:IDType"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="ContactInfo" type="fin:ContactInfoType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="status" type="fin:StatusCodeType" use="optional" default="active"/>
  </xs:complexType>
  
  <!-- Abstract base type for all financial instruments -->
  <xs:complexType name="FinancialInstrumentType" abstract="true">
    <xs:sequence>
      <xs:element name="InstrumentID" type="fin:IDType"/>
      <xs:element name="Description" type="xs:string" minOccurs="0"/>
      <xs:element name="IssueDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- ==================== Substitution Groups ==================== -->
  
  <!-- Root element for all transactions -->
  <xs:element name="Transaction" type="fin:TransactionType" abstract="true"/>
  
  <!-- Elements that can substitute for Transaction -->
  <xs:element name="Payment" type="fin:PaymentType" substitutionGroup="fin:Transaction"/>
  <xs:element name="Transfer" type="fin:TransferType" substitutionGroup="fin:Transaction"/>
  <xs:element name="Trade" type="fin:TradeType" substitutionGroup="fin:Transaction"/>
  <xs:element name="Loan" type="fin:LoanType" substitutionGroup="fin:Transaction"/>
  
  <!-- Root element for all parties -->
  <xs:element name="Party" type="fin:PartyType" abstract="true"/>
  
  <!-- Elements that can substitute for Party -->
  <xs:element name="Individual" type="fin:IndividualType" substitutionGroup="fin:Party"/>
  <xs:element name="Organization" type="fin:OrganizationType" substitutionGroup="fin:Party"/>
  <xs:element name="Government" type="fin:GovernmentType" substitutionGroup="fin:Party"/>
  
  <!-- ==================== Complex Type Inheritance ==================== -->
  
  <!-- Base transaction type -->
  <xs:complexType name="TransactionType" abstract="true">
    <xs:sequence>
      <xs:element name="TransactionID" type="fin:IDType"/>
      <xs:element name="TransactionDate" type="xs:dateTime"/>
      <xs:element name="Amount" type="fin:MoneyType"/>
      <xs:element name="Description" type="xs:string" minOccurs="0"/>
      <xs:element name="Status" type="fin:StatusCodeType"/>
    </xs:sequence>
    <xs:attribute name="priority" type="fin:PriorityType" use="optional" default="normal"/>
  </xs:complexType>
  
  <!-- Payment transaction type -->
  <xs:complexType name="PaymentType">
    <xs:complexContent>
      <xs:extension base="fin:TransactionType">
        <xs:sequence>
          <xs:element name="Payer" type="fin:PartyReferenceType"/>
          <xs:element name="Payee" type="fin:PartyReferenceType"/>
          <xs:element name="PaymentMethod" type="fin:PaymentMethodType"/>
          <xs:element name="InvoiceReference" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="recurring" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- Transfer transaction type -->
  <xs:complexType name="TransferType">
    <xs:complexContent>
      <xs:extension base="fin:TransactionType">
        <xs:sequence>
          <xs:element name="FromAccount" type="fin:AccountReferenceType"/>
          <xs:element name="ToAccount" type="fin:AccountReferenceType"/>
          <xs:element name="TransferType" type="fin:TransferTypeEnum"/>
          <xs:element name="SettlementDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- Trade transaction type -->
  <xs:complexType name="TradeType">
    <xs:complexContent>
      <xs:extension base="fin:TransactionType">
        <xs:sequence>
          <xs:element name="Buyer" type="fin:PartyReferenceType"/>
          <xs:element name="Seller" type="fin:PartyReferenceType"/>
          <xs:element name="Instrument" type="fin:FinancialInstrumentReferenceType"/>
          <xs:element name="Quantity" type="xs:decimal"/>
          <xs:element name="TradeDate" type="xs:date"/>
          <xs:element name="SettlementDate" type="xs:date"/>
        </xs:sequence>
        <xs:attribute name="tradeType" type="fin:TradeTypeEnum" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- Loan transaction type -->
  <xs:complexType name="LoanType">
    <xs:complexContent>
      <xs:extension base="fin:TransactionType">
        <xs:sequence>
          <xs:element name="Lender" type="fin:PartyReferenceType"/>
          <xs:element name="Borrower" type="fin:PartyReferenceType"/>
          <xs:element name="InterestRate" type="fin:PercentageType"/>
          <xs:element name="Term" type="fin:TermType"/>
          <xs:element name="CollateralDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="RepaymentSchedule" type="fin:RepaymentScheduleType"/>
        </xs:sequence>
        <xs:attribute name="secured" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- Individual party type -->
  <xs:complexType name="IndividualType">
    <xs:complexContent>
      <xs:extension base="fin:PartyType">
        <xs:sequence>
          <xs:element name="FirstName" type="xs:string"/>
          <xs:element name="LastName" type="xs:string"/>
          <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
          <xs:element name="DateOfBirth" type="xs:date"/>
          <xs:element name="Nationality" type="fin:CountryCodeType" minOccurs="0"/>
          <xs:element name="TaxID" type="xs:string" minOccurs="0"/>
          <xs:element name="Occupation" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="gender" type="fin:GenderType" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- Organization party type -->
  <xs:complexType name="OrganizationType">
    <xs:complexContent>
      <xs:extension base="fin:PartyType">
        <xs:sequence>
          <xs:element name="LegalName" type="xs:string"/>
          <xs:element name="RegistrationNumber" type="xs:string"/>
          <xs:element name="TaxID" type="xs:string"/>
          <xs:element name="Industry" type="xs:string" minOccurs="0"/>
          <xs:element name="IncorporationDate" type="xs:date" minOccurs="0"/>
          <xs:element name="IncorporationCountry" type="fin:CountryCodeType"/>
          <xs:element name="OrganizationType" type="fin:OrgTypeEnum"/>
        </xs:sequence>
        <xs:attribute name="listed" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- Government party type -->
  <xs:complexType name="GovernmentType">
    <xs:complexContent>
      <xs:extension base="fin:PartyType">
        <xs:sequence>
          <xs:element name="GovernmentName" type="xs:string"/>
          <xs:element name="GovernmentType" type="fin:GovTypeEnum"/>
          <xs:element name="Country" type="fin:CountryCodeType"/>
          <xs:element name="Jurisdiction" type="xs:string"/>
          <xs:element name="AgencyCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ==================== Union and List Types ==================== -->
  
  <!-- Union type for ID formats -->
  <xs:simpleType name="IDType">
    <xs:union memberTypes="fin:AlphaNumericIDType fin:GUIDType"/>
  </xs:simpleType>
  
  <xs:simpleType name="AlphaNumericIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}[0-9]{6}[A-Z0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="GUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- List type for multiple risk factors -->
  <xs:simpleType name="RiskFactorsType">
    <xs:list itemType="fin:RiskFactorEnum"/>
  </xs:simpleType>
  
  <xs:simpleType name="RiskFactorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREDIT"/>
      <xs:enumeration value="MARKET"/>
      <xs:enumeration value="LIQUIDITY"/>
      <xs:enumeration value="OPERATIONAL"/>
      <xs:enumeration value="LEGAL"/>
      <xs:enumeration value="REGULATORY"/>
      <xs:enumeration value="REPUTATIONAL"/>
      <xs:enumeration value="STRATEGIC"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- List type for security features -->
  <xs:simpleType name="SecurityFeaturesType">
    <xs:list itemType="fin:SecurityFeatureEnum"/>
  </xs:simpleType>
  
  <xs:simpleType name="SecurityFeatureEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENCRYPTION"/>
      <xs:enumeration value="MULTI_FACTOR_AUTH"/>
      <xs:enumeration value="BIOMETRIC"/>
      <xs:enumeration value="HARDWARE_TOKEN"/>
      <xs:enumeration value="IP_RESTRICTION"/>
      <xs:enumeration value="TIME_RESTRICTION"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ==================== Pattern Restrictions ==================== -->
  
  <!-- Email pattern -->
  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Phone number pattern -->
  <xs:simpleType name="PhoneNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9]{3,14}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Currency code pattern -->
  <xs:simpleType name="CurrencyCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Country code pattern -->
  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Percentage type with range -->
  <xs:simpleType name="PercentageType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="100.0"/>
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ==================== Complex Types with Attributes ==================== -->
  
  <!-- Money type with currency attribute -->
  <xs:complexType name="MoneyType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="fin:CurrencyCodeType" use="required"/>
        <xs:attribute name="precision" type="xs:integer" default="2"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Contact information type -->
  <xs:complexType name="ContactInfoType">
    <xs:sequence>
      <xs:element name="Email" type="fin:EmailType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Phone" type="fin:PhoneNumberType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address" type="fin:AddressType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="preferred" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <!-- Address type -->
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="AddressLine1" type="xs:string"/>
      <xs:element name="AddressLine2" type="xs:string" minOccurs="0"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="StateProvince" type="xs:string"/>
      <xs:element name="PostalCode" type="xs:string"/>
      <xs:element name="Country" type="fin:CountryCodeType"/>
    </xs:sequence>
    <xs:attribute name="type" type="fin:AddressTypeEnum" use="optional" default="RESIDENTIAL"/>
    <xs:attribute name="validated" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>
  
  <!-- ==================== Reference Types ==================== -->
  
  <!-- Party reference type -->
  <xs:complexType name="PartyReferenceType">
    <xs:attribute name="partyID" type="fin:IDType" use="required"/>
    <xs:attribute name="partyType" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <!-- Account reference type -->
  <xs:complexType name="AccountReferenceType">
    <xs:attribute name="accountID" type="fin:IDType" use="required"/>
    <xs:attribute name="accountType" type="fin:AccountTypeEnum" use="optional"/>
  </xs:complexType>
  
  <!-- Financial instrument reference type -->
  <xs:complexType name="FinancialInstrumentReferenceType">
    <xs:attribute name="instrumentID" type="fin:IDType" use="required"/>
    <xs:attribute name="instrumentType" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <!-- ==================== Enumeration Types ==================== -->
  
  <!-- Status code type -->
  <xs:simpleType name="StatusCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active"/>
      <xs:enumeration value="pending"/>
      <xs:enumeration value="suspended"/>
      <xs:enumeration value="closed"/>
      <xs:enumeration value="cancelled"/>
      <xs:enumeration value="completed"/>
      <xs:enumeration value="failed"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Priority type -->
  <xs:simpleType name="PriorityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="high"/>
      <xs:enumeration value="normal"/>
      <xs:enumeration value="low"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Gender type -->
  <xs:simpleType name="GenderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M"/>
      <xs:enumeration value="F"/>
      <xs:enumeration value="O"/>
      <xs:enumeration value="U"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Organization type enum -->
  <xs:simpleType name="OrgTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CORPORATION"/>
      <xs:enumeration value="PARTNERSHIP"/>
      <xs:enumeration value="LLC"/>
      <xs:enumeration value="SOLE_PROPRIETORSHIP"/>
      <xs:enumeration value="NON_PROFIT"/>
      <xs:enumeration value="TRUST"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Government type enum -->
  <xs:simpleType name="GovTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FEDERAL"/>
      <xs:enumeration value="STATE"/>
      <xs:enumeration value="LOCAL"/>
      <xs:enumeration value="INTERNATIONAL"/>
      <xs:enumeration value="AGENCY"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Address type enum -->
  <xs:simpleType name="AddressTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RESIDENTIAL"/>
      <xs:enumeration value="BUSINESS"/>
      <xs:enumeration value="MAILING"/>
      <xs:enumeration value="SHIPPING"/>
      <xs:enumeration value="BILLING"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Account type enum -->
  <xs:simpleType name="AccountTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHECKING"/>
      <xs:enumeration value="SAVINGS"/>
      <xs:enumeration value="INVESTMENT"/>
      <xs:enumeration value="CREDIT"/>
      <xs:enumeration value="LOAN"/>
      <xs:enumeration value="RETIREMENT"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Transfer type enum -->
  <xs:simpleType name="TransferTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACH"/>
      <xs:enumeration value="WIRE"/>
      <xs:enumeration value="INTERNAL"/>
      <xs:enumeration value="CHECK"/>
      <xs:enumeration value="CARD"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Trade type enum -->
  <xs:simpleType name="TradeTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BUY"/>
      <xs:enumeration value="SELL"/>
      <xs:enumeration value="EXCHANGE"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Payment method type -->
  <xs:complexType name="PaymentMethodType">
    <xs:choice>
      <xs:element name="CreditCard">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CardType" type="xs:string"/>
            <xs:element name="CardNumber" type="xs:string"/>
            <xs:element name="ExpiryDate" type="xs:string"/>
            <xs:element name="CVV" type="xs:string"/>
            <xs:element name="CardholderName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BankTransfer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BankName" type="xs:string"/>
            <xs:element name="AccountNumber" type="xs:string"/>
            <xs:element name="RoutingNumber" type="xs:string"/>
            <xs:element name="AccountHolderName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DigitalWallet">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="WalletType" type="xs:string"/>
            <xs:element name="WalletID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="preferred" type="xs:boolean" default="false"/>
  </xs:complexType>
  
  <!-- Term type -->
  <xs:complexType name="TermType">
    <xs:sequence>
      <xs:element name="Duration" type="xs:integer"/>
      <xs:element name="DurationUnit">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="WEEKS"/>
            <xs:enumeration value="MONTHS"/>
            <xs:enumeration value="YEARS"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StartDate" type="xs:date"/>
      <xs:element name="EndDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Repayment schedule type -->
  <xs:complexType name="RepaymentScheduleType">
    <xs:sequence>
      <xs:element name="Frequency">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="DAILY"/>
            <xs:enumeration value="WEEKLY"/>
            <xs:enumeration value="BI_WEEKLY"/>
            <xs:enumeration value="MONTHLY"/>
            <xs:enumeration value="QUARTERLY"/>
            <xs:enumeration value="SEMI_ANNUALLY"/>
            <xs:enumeration value="ANNUALLY"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NumberOfPayments" type="xs:integer"/>
      <xs:element name="FirstPaymentDate" type="xs:date"/>
      <xs:element name="PaymentAmount" type="fin:MoneyType"/>
    </xs:sequence>
  </xs:complexType>
