spec/fixtures/xml/product_catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Product type -->
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="price" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Category type with recursive structure -->
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="product" type="Product" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="category" type="Category" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Product catalog root type -->
  <xs:complexType name="ProductCatalog">
    <xs:sequence>
      <xs:element name="category" type="Category" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Root element -->
  <xs:element name="ProductCatalog" type="ProductCatalog"/>
</xs:schema>