spec/fixtures/xml/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- User type -->
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="id" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="age" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="token" type="xs:token" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Root element -->
  <xs:element name="User" type="User"/>
</xs:schema>